$four: hsl(183, 40%, 72%);

$seven: hsl(180, 8%, 64%);

//light mode
$White: hsl(0, 0%, 100%);
$Very-dark-blue: #003147;
$Very-light-gray: hsl(0, 0%, 93%);
$Gray: hsl(0, 0%, 44%);
$three: hsl(186, 52%, 67%);

//dark-mode
$Black: hsl(0, 0%, 12%);
$Dark-gray: hsl(240, 9%, 9%);
$Turquoise: #66b8ff;
$Gray: hsl(0, 0%, 44%);
$three: hsl(204, 90%, 49%);
