@use "../mixins" as *;
@use "../fonts" as *;
@use "../colors" as *;

.home-container {
   width: 100%;
   height: calc(100vh - 4.5rem);
   background-color: $White;
   transition: 0.3s;
   .hero {
      @include flexbox(space-between, center);
      .hero-image {
         width: 45%;
         img {
            display: block;
            width: 94%;
         }
      }
      .hero-text {
         width: 50%;
         height: 20rem;
         padding: 0 2rem;
         @include flexbox(space-between, flex-start, 0, 0, column);
         .quote {
            color: $Very-dark-blue;
            h1 {
               font-size: 2rem;
               font-weight: $font-700;
            }
            p {
               font-size: 1.5rem;
               font-weight: $font-500;
               text-align: right;
            }
         }
         .get-started {
            width: 100%;
            color: $Very-dark-blue;
            @include flexbox(flex-start, flex-start, 0, 2rem, column);
            h2 {
               font-size: 1.4rem;
               font-weight: $font-700;
            }
            .form {
               width: 100%;
               @include flexbox(space-between, center);
               input {
                  width: 27.5rem;
                  padding: 0.75rem;
                  border-radius: 0.5rem;
                  outline: none;
                  border: 0.1rem solid $Very-dark-blue;
                  color: $Very-dark-blue;
                  font-size: 1rem;
                  background-color: $Very-light-gray;
                  &::placeholder {
                     color: $Very-dark-blue;
                     font-size: 1rem;
                  }
               }
               .search {
                  width: 8rem;
                  padding: 0.75rem 0;
                  border: none;
                  border-radius: 0.5rem;
                  background-color: $Very-dark-blue;
                  color: $White;
                  font-size: 1rem;
                  font-weight: $font-700;
               }
            }
         }
      }
   }
   .books {
      padding: 0 2rem;
      background-color: $White;
      transition: 0.3s;
      @include flexbox(flex-start, space-between, 2rem, 2rem, row, wrap);
      .book {
         max-width: calc((100% - 4rem) / 3);
         padding-right: 1rem;
         border-radius: 0.5rem;
         box-shadow: 0rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3);
         &:hover {
            scale: 1.1;
            transition: 0.3s;
         }
         @include flexbox(flex-start, flex-start, 1rem);
         .book-image {
            img {
               border-radius: 0.5rem 0 0 0;
            }
         }
         .book-text {
            padding-top: 1rem;
            .title {
               color: $Black;
               font-weight: $font-700;
               margin-bottom: 0.5rem;
            }
            .authors-and-date {
               color: $Gray;
               font-size: 0.9rem;
               font-weight: $font-500;
               margin-bottom: 0.3rem;
            }
            .description {
               color: $Black;
               font-weight: $font-400;
               $font-size: 0.8rem;
               .description-text {
                  $max-lines: 3;
                  $line-height: 1.4;
                  line-height: $line-height;
                  font-size: $font-size;
                  height: calc($max-lines * $font-size * $line-height);
                  overflow: hidden;
                  margin-bottom: 0.25rem;
               }
               .see-more {
                  width: fit-content;
                  color: $three;
                  font-size: $font-size;
                  cursor: pointer;
                  &:hover {
                     text-decoration: underline;
                  }
               }
            }
         }
      }
   }
}

.home-container.dark-mode {
   background-color: $Black;
   .hero {
      .hero-text {
         .quote {
            color: $Turquoise;
         }
         .get-started {
            color: $Turquoise;
            .form {
               input {
                  background-color: $Dark-gray;
                  border-color: $Turquoise;
                  color: $Turquoise;
                  &::placeholder {
                     color: $Turquoise;
                  }
               }
               .search {
                  background-color: $Turquoise;
                  color: $Black;
               }
            }
         }
      }
   }
   .books.dark-mode {
      background-color: $Black;
      .book {
         .book-text {
            .title {
               color: $White;
            }
            .authors-and-date {
               color: $Gray;
            }
            .description {
               color: $White;
            }
         }
      }
   }
}
