@use "../mixins" as *;
@use "../fonts" as *;
@use "../colors" as *;

.all-notes-book-container {
   width: 100%;
   height: 100%;
   padding: 0 2rem 2rem;
   background-color: $White;
   transition: 0.3s;
   .filtered-book-info {
      width: inherit;
      margin: 2rem 0 1.5rem;
      @include flexbox(flex-start, flex-start, 2rem);
      .filtered-book-image {
         width: 9rem;
         height: 13.5rem;
         > img {
            width: inherit;
            height: inherit;
            box-shadow: 0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
               -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
         }
      }
      .filtered-book-text {
         padding-top: 0.5rem;
         p {
            color: $Black;
            font-size: 1rem;
            font-weight: $font-400;
            margin-bottom: 1rem;
            line-height: 1.6;
            transition: 0.3s;
            span {
               color: $Very-dark-blue;
               font-size: 1.1rem;
               font-weight: $font-500;
               transition: 0.3s;
            }
         }
      }
   }
   .filtered-book-notes {
      width: 100%;
      @include flexbox(flex-start, flex-start, 3rem, 3rem, row, wrap);
      .filtered-note {
         width: calc((100% - 6rem) / 3);
         height: 14rem;
         padding: 1rem 1rem 0;
         box-shadow: 0.1rem 0.1rem 0.3rem rgba(128, 128, 128, 0.3),
            -0.1rem -0.1rem 0.3rem rgba(128, 128, 128, 0.3);
         border-radius: 0.5rem;
         transition: 0.3s;
         position: relative;
         .filtered-note-date-and-page {
            margin-bottom: 1rem;
            font-size: 1.1rem;
            font-weight: $font-500;
            color: $Very-dark-blue;
            @include flexbox(flex-start, flex-start, 1rem);
         }
         .filtered-note-text {
            color: $Black;
         }
         .edit-and-delete {
            position: absolute;
            top: 1rem;
            right: 1rem;
            @include flexbox(flex-start, flex-start, 0.5rem);
            > img {
               width: 1.5rem;
            }
         }
      }
   }
   .no-note-found-book {
      margin: 2rem auto;
      font-size: 1.2rem;
      font-weight: $font-700;
      color: $Very-dark-blue;
      text-align: center;
   }
}

.all-notes-book-container.dark-mode {
   background-color: $Black;
   .filtered-book-info {
      .filtered-book-text {
         p {
            color: $White;
            span {
               color: $Turquoise;
            }
         }
      }
   }
}

@media (hover: hover) {
   .all-notes-book-container {
      .filtered-book-notes {
         .filtered-note {
            &:hover {
               scale: 1.1;
               .edit-and-delete {
                  > img:hover {
                     cursor: pointer;
                     scale: 1.1;
                  }
               }
            }
         }
      }
   }
}
