@use "../mixins" as *;
@use "../fonts" as *;
@use "../colors" as *;

.display-note-container {
   width: 35%;
   padding: 1rem 0 0 3rem;
   color: $Very-dark-blue;
   font-weight: $font-500;
   .number-of-notes {
      margin-bottom: 1rem;
   }
   .last-note {
      .last-note-date-page {
         margin-bottom: 1rem;
         @include flexbox(flex-start, flex-start, 1rem);
      }
      .last-note-text {
         margin-bottom: 1rem;
      }
   }
}
